/* Complete Page */
* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #757575;
}

/* Main Page */
.main-page {
    display: flex;
}

/* Side Bar */
.sideBar {
    width: 15%;
    height: 100vh;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.sideBar:hover {
    background-color: #e0e0e0;
}

/* Circle */
.circle {
    background-color: #888;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}

.circle:hover {
    background-color: #666;
    transform: scale(1.1);
}

/* Enable Webcam Button */
.enable-webcam-button,
.navigate-button {
    background-color: #708090;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.enable-webcam-button:hover,
.navigate-button:hover {
    background-color: #444141;
    transform: scale(1.05);
}

.enable-webcam-button:focus,
.navigate-button:focus {
    outline: none;
}

/* Right Panel */
.rightPanel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
.header {
    background-color: #383838;
    height: 100px;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 40px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 2rem;
}

/* Tablet Area */
.tabletContainer {
    height: 200vh;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tablet-image {
    position: absolute;
}

#main-canvas {
    position: absolute;
    z-index: -1;
}